<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/reset.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jQuery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </head>
    <body>
        
        {% block body %}
            <div id="contenedor-principal_id" class="contenedor-principal">
                <div id='chat_id' class='chat'>
                    <h3 id='titulo_'>CHATS OF {{username}}</h3>
                    <button id='addFriends'><b>Add friends</b></button>
                    <button><b>Difusion Message</b></button>
                    <button><b><a href="{{ path('logout') }}">Log Out</a></b></button>
                </div>

                <div id="contenedor_conver_id" class="contenedor_conver">
                    <div id="divPerf" class="divPerf"></div>
                    <div id="conver_id" class="conver"></div>
                    <div id="form_message" class="">
                        <input type='text' id="input_msg">
                        <button id='botonEnviar'>SEND</button>
                    </div>
                </div>
                
            </div>
            <div id="" class=""></div>
            
        {% endblock %}
        
    </body>
</html>
